label{
    display:block;
    padding:8px;
}
form{
    text-align:center;
    background-color: aquamarine;
    margin:0px 450px 0px 450px;
}
h1{
    text-align:center;
}
#submit{
    padding:10px;
}
input[type=submit]:hover{
    background-color:rgb(150, 230, 31);
}